<template>
  <div class="overall-monitoring">
     <div class="chart" id="selectedTopo"></div>
    <div class="realtime-chart-model">
    <div class="divider-horizontal"></div>
      <div class="panel-heading" style="text-align: center">流量信息表</div>
    <div class="wrapper-content">
      <div class="searchWord" style="display: inline-block;width: 80%">
        <el-button type="primary" @click="searchData">查询</el-button>
        <el-input v-model="search" style="display: inline-block;width: 30%"
                  placeholder="请输入搜索内容">
        </el-input>
        <el-button type="primary" @click="roolBack">返回</el-button>
      </div>
      <div class="selectparam" style="float: right;width:6%">
        <el-select v-model="value" placeholder="算法"  style="width: 100%;display: inline-block" @change="getchange">
          <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
          >
          </el-option>
        </el-select>
      </div>

      <!--设置单选，最大拓扑变灰-->
      <div class="separator" height="20px" element-loading-background="white"></div>
      <el-table :data="list" @row-click="handleCheck" highlight-current-row ref="Table"   style="width: 100%;height: 50%">
        <el-table-column property="src" label="源主机" ></el-table-column>
        <el-table-column property="srcPort" label="源TCP端口" ></el-table-column>
        <el-table-column property="dst" label="目的主机" ></el-table-column>
        <el-table-column property="dstPort" label="目的TCP端口" ></el-table-column>
        <el-table-column property="type" label="业务类型"></el-table-column>
        <el-table-column property="route" label="路由选择"></el-table-column>
        <el-table-column property="linkType" label="信道类型"></el-table-column>
        <el-table-column property="bandwidth" label="带宽分配"></el-table-column>
        <el-table-column property="delay" label="业务时延"></el-table-column>
        <el-table-column property="sendTime" label="开始时间"></el-table-column>
        <el-table-column property="isArrive" label="是否到达"></el-table-column>
        <el-table-column property="sendPacket" label="发包总数"></el-table-column>
        <el-table-column property="receivePacket" label="接受总数"></el-table-column>
        <el-table-column label="操作" width="100px">
          <template v-slot="scope">
            <!-- 点击编辑进入编辑页面进行删除表格数据 -->
            <el-button size="small" type="danger" @click="handleDelete(scope.$index, scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>


      <div class="page">
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-sizes="[5, 10, 20]"
                :page-size="pagesize"
                style="float:right"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total">
        </el-pagination>
      </div>
</div>
</div>
</div>
</template>

<script>


export default {
  name: 'realTimeChart',
  components: {
  },
  props: {},
  data() {
    return {
      total: 0,
      pagesize: 5,
      list: [],
      selectData: [],
      mydata: [],
      formLabelWidth: "80px",
      currentPage: 1,
      maxPage: "",
      currentIndex: "",
      intervalId:null,
      search:'',
      value:2,
      multipleSelection:[],
      graph:[],
      nodes: [],
      links: [],
      paths: [],
      option:null,
      ports: [],
      categories: [],
      chartData: null,
      options: [
        {
          value: 1,
          label: 'OSPF',
        },
        {
          value: 2,
          label: 'QAR',
        },
        {
          value: 3,
          label: 'RouteNet'
        }
      ],

    }
  },
    computed: {
  },
  watch: {
    total() {
      if (this.total === (this.currentPage - 1) * this.pagesize && this.total !== 0) {
        this.currentPage -= 1;
        this.changelist()
      }
    }
  },
  created() {
    this.dataRefreh()
  },
  methods: {
    //获取表格数据
   async dataRefreh() {
      //计时器时间未到，不操作
      if (this.intervalId) {
        return;
      }
      // 计时器时间到，重新加载数据绘图
      this.intervalId = setInterval(() => {
        this.$nextTick(() => {
          this.getdata();
          this.handleCurrentChange(1)
        })
        console.log("刷新" + new Date(), this.mydata);
      }, 30000);
    },
    async getdata() {//获取数据

      switch (this.value) {
        case 1: {
          await this.$http({
            url: '/data/routingtable1.txt',
            method: 'get',
            data: {}//传值
          }).then(res => {
            this.mydata = res.data.routingtable
            this.total = res.data.routingtable.length
            console.log("test:",this.mydata)
          });
        }
          break;
        case 2: {
          await this.$http({
            url: '/system/qar/business/businessdata',
            method: 'get',
            data: {}//传值
          }).then(res => {
            this.mydata = res.data
             this.total = this.mydata.length
            console.log("table",this.mydata)
          })
        }
          break;
      }
      await this.$http({//获取拓扑节点数据
        url: '/system/topodata',
        method: 'get',
        data:{}//传值
      }).then(res => {
        this.graph=res.data
        console.log("------------------",this.graph)
      });
    },

    get_path() {//根据选中数据生成路径
      this.links=[]
      this.paths=[]
      this.ports=[]
      console.log("------------selectdata",this.selectData)
        var path = []
        var port = []
        path = this.selectData.route.replace("[", "")
        path = path.split(" ").join("")
        path = path.replace("]", "")
        port = this.selectData.linkType.replace("[", "")
        port = port.split(" ").join("")
        port = port.replace("]", "")
        var value1 = path.split(",")
        var value2 = port.split(",")
        /*  for(var num=0;num<this.value2.length;num++)
          this.value2[num]=parseInt(this.value2[num])%4*/
        this.paths.push(value1)
        this.ports.push(value2)

      for (var j = 0; j < this.paths.length; j++) {
        for (var jj = 0; jj < this.paths[j].length - 1; jj++) {
          var type = this.ports[j][jj]
          var color1 = '#000'
          switch (type) {
            case "1":
              color1 = '#61a0a4';
              break;
            case "2":
              color1 = '#2c8c21';
              break;
            case "3":
              color1 = '#d48263';
              break;
            case "4":
              color1 = '#c23533';
              break;
          }
          var value3 = []
          value3 = {
            source: this.paths[j][jj],
            target: this.paths[j][jj + 1],
            type: type,
            lineStyle: {
              normal: {
                color: color1,
                width: 1,
              }
            }
          }

          console.log(value3)
          this.links.push(value3)
        }
      }
      console.log(this.ports)
      console.log(this.paths)
    },

    async initChart() {//初始化图表，与topologyChart界面类似
      this.graph = []
      this.links = []
      this.nodes = []
      this.categories = []
      this.paths = []
      this.ports = []
      await this.getdata()
      console.log('graph', this.graph)
      // 基于准备好的dom，初始化echarts实例
      //节点数据
      for (var i = 0; i < this.graph.nodes.length; i++) {
        var value = []
        value = {
          x: this.graph.nodes[i].x,
          y: this.graph.nodes[i].y,
          name: this.graph.nodes[i].name,
          value: this.graph.nodes[i].value,
          category: this.graph.nodes[i].category,
          symbolSize: this.graph.nodes[i].symbolSize,
          id: this.graph.nodes[i].id,
          symbol: this.graph.nodes[i].symbol
        };
        this.nodes.push(value)
      }

        //模拟节点x,y坐标，后续可换为地理坐标系

        this.categories = [{
          id: 0,
          name: "Controller",
          itemStyle: {normal: {color: '#f8ff07'}},
          symbolSize: [42, 42]
        },
          {
            id: 1,
            name: "Host",
            itemStyle: {normal: {color: '#61a0a8'}},
            symbolSize: [42, 42]
          },
          {
            id: 2,
            name: "Host-10k",
            itemStyle: {normal: {color: '#749f83'}},
            symbolSize: [42, 42]
          },
          {
            id: 3,
            name: "Host-100k",
            itemStyle: {normal: {color: '#d48265'}},
            symbolSize: [42, 42]
          },
          {
            id: 4,
            name: "Host-1M",
            itemStyle: {normal: {color: '#3ec203'}},
            symbolSize: [42, 42]
          },
          {
            id: 5,
            name: "Host-10M",
            itemStyle: {normal: {color: '#c2b626'}},
            symbolSize: [42, 42]
          },
          {
            id: 6,
            name: "Switch-1M",
            itemStyle: {normal: {color: '#b362c2'}},
            symbolSize: [42, 42]
          },
          {
            id: 7,
            name: "Switch-10M",
            itemStyle: {normal: {color: '#c23531'}},
            symbolSize: [42, 42]
          },
          {
            id: 8,
            name: "Switch-100M",
            itemStyle: {normal: {color: '#6513c2'}},
            symbolSize: [42, 42]
          },
          {
            id: 9,
            name: "Main-Contorll",
            itemStyle: {normal: {color: 'rgba(134,44,17,0.75)'}},
            symbolSize: [42, 42]
          },

        ]


        for (var p = 0; p < this.nodes.length; p++) {
          this.nodes[p].label = {
            show: this.nodes[p].symbolSize >= 10
          }
        }


        this.option={
          // title: {
          //     text: 'Les Miserables',
          //     subtext: 'Circular layout',
          //     top: 'bottom',
          //     left: 'right'
          // },
          coordinateSystem: 'cartesian2d',
          tooltip: {},
          animationDurationUpdate: 150,
          animationEasingUpdate: 'quinticInOut',
          series: [
            {
              name: 'IPV4-Address',
              type: 'graph',
              layout: 'none',
              zoom: 1,//缩放比例
              data: this.nodes,//关系图节点,
              categories: this.categories,//图分类
              draggable: true,
              focusNodeAdjacency:true,
              roam: true,
              label: {
                show: true,
                position: 'right',
                formatter: '{b}'
              },
              circular: {
                rotateLabel: true
              },
              labelLayout: {
                hideOverlap: true
              },
              scaleLimit: {
                min: 0.0001,
                max: 1000
              },
              /*    force: { //力引导图基本配置
                    // initLayout:'circular' ,//力引导的初始化布局，默认使用xy轴的标点
                    repulsion: 100,//节点之间的斥力因子。支持数组表达斥力范围，值越大斥力越大。
                    gravity: 0.01,//节点受到的向中心的引力因子。该值越大节点越往中心点靠拢。
                    edgeLength: [100, 200],//边的两个节点之间的距离，这个距离也会受 repulsion。[10, 50] 。值越小则长度越长
                    layoutAnimation: true
                    //因为力引导布局会在多次迭代后才会稳定，这个参数决定是否显示布局的迭代动画，在浏览器端节点数据较多（>100）的时候不建议关闭，布局过程会造成浏览器假死。
                  },*/

              emphasis: {
                focus: 'adjacency',
                linkstyle:
                    {
                      width: 20
                    }
              }
            }
          ]
        };
        this.chartData.setOption(this.option)
      },
    clear() {
      clearInterval(this.intervalId); //清除计时器
      this.intervalId = false; //设置为false
    },
    //更改列表
    changelist() {
      var x = (this.currentPage - 1) * this.pagesize
      var y = this.currentPage * this.pagesize
      console.log(x, y)
      this.list = this.mydata.slice(x, y)
    },
    //处理表格每页展示尺寸改变
    handleSizeChange(val) {
      this.total=this.mydata.length
      this.pagesize = val
      this.maxPage = this.total / this.pagesize+1
      console.log(`每页 ${val} 条`);
      this.changelist()
    },
    //处理表格页面切换
    handleCurrentChange(val) {
      this.total=this.mydata.length
      this.currentPage = val
      console.log(`当前页: ${val}`);
      this.changelist()
    },
    //处理选中
    handleCheck(row) {
      console.log("row-------------------",row)
      //   选已选中数据中判断当前点击的是否被选中
      if (this.multipleSelection[0] === row) {  // 选中的是已有的 取消选中
        this.multipleSelection = [];
        this.$refs['Table'].clearSelection();
      } else {
        this.multipleSelection = [row];
        this.$refs['Table'].clearSelection();
        this.$refs['Table'].toggleRowSelection(row, true);
      }
      this.selectData = row
      console.log("++++++++++++++++++++++++",this.selectData)
      this.get_path()
      this.option.series[0].links=this.links
      this.chartData.setOption(this.option)
    },
    handleDelete(index) {//处理删除信息
      // 设置类似于console类型的功能
      this.$confirm("永久删除该文件, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
              .then(() => {
                // 移除对应索引位置的数据，可以对row进行设置向后台请求删除数据
                this.list.splice(index, 1);
                this.mydata.splice(index,1);
                this.$message({
                  type: "success",
                  message: "删除成功!"
                });
                this.total=this.total-1
                const totalPage = Math.ceil((this.total - 1) / this.pageSize)
                // 原本点击的页码是否超出了操作后的总页数，若超出设当前点击的页码为最后一页，若没超 页码不变
                const currentPage = this.currentPage > totalPage ? totalPage : this.currentPage
                // 设置的当前页码是否小于1，若小于则设当前页码为1，若不小于1 则采用计算的页码
                this.currentPage = currentPage < 1 ? 1 : currentPage
                this.changelist() // 重新获取列表

              })
              .catch(() => {
                this.$message({
                  type: "info",
                  message: "已取消删除"
                });
              });
    },

    searchData(){
      //查询数据
      const search = this.search
      console.log(this.search)
      this.mydata=this.mydata.filter(data => {//直接对信息表数据进行更改
          return Object.keys(data).some(key => {
            return String(data[key]).toLowerCase().indexOf(search) > -1
          })
        })
      this.total = this.mydata.length
      console.log(this.total)
      this.changelist()
    },

   async getchange()
   {
     this.mydata=[]
     this.total=0
     await this.getdata()
     this.handleCurrentChange(1)
   },


    async roolBack(){//查询后返回历史信息表
      await this.getdata()
      this.handleCurrentChange(1)
      this.search=''
    },

  },
  async mounted() {
    await this.getdata()
    this.handleCurrentChange(1)
    this.chartData = this.$echarts.init(document.getElementById("selectedTopo"));
    this.initChart()
  },
  unmounted() {
    // 在页面销毁后，清除计时器
    this.clear();
  }
}
</script>

<style scoped>
.overall-monitoring{
  width: 100%;
  height: 100%;
  font-family: "Microsoft YaHei"
;
}
.chart{
  width: 100%;
  height: 55%;
}
.realtime-chart-model{
  width: 100%;
  height:42%;
}
.divider-horizontal{
  height: 2%;
  width: 100%;
  background-color: #ffffff;
}
.el-table__body tr.current-row>td{
  background-color: #69A8EA !important;
  color: #fff;
}
</style>
