<template>
  <div class="panel-heading" style="text-align:center">
    算法结果分析对比
  </div>
  <div class="chart" id="Achart">Achart</div>
  <div class="divider-vertical"></div>
  <div class="chart" id="Bchart">Bchart</div>
  <div class="divider-vertical"></div>
  <div class="chart" id="Cchart">Cchart</div>
</template>
<script>
export default {
  name: "resultCompare"
}
</script>

<style scoped>


.divider-vertical{
  width: 1%;
  height: 100%;
  background-color: #f2f2f2;
  display: inline-block;
  float: left;
}
.chart{
  width: 30%;
  height: 100%;
  padding-right: 50px;
  float: left;
  display: inline-block;
}
</style>