<template>
  <div class="panel-heading" style="text-align:center">
  业务统计图
  </div>
  <el-tabs type="card" >
    <el-tab-pane label="表格">
      <div style="text-align: center;font-family: 'Microsoft YaHei';font-size: large;color: darkkhaki">各类业务统计汇总</div>
      <el-table :data="table_data">
        <el-table-column prop="flowtype" label="Type" />
        <el-table-column prop="sum" label="Sum"  />
        <el-table-column prop="avgDelay" label="avgDelay" />
        <el-table-column prop="avgArrivate" label="arrivateRate" />
      </el-table>
    </el-tab-pane>

    <el-tab-pane label="图形化展示">
      <div class="chart"  id="combineChart"></div>
    </el-tab-pane>
  </el-tabs>


</template>

<script>




export default {
  name: "businessTotal",
  data(){
    return {
      result_data:[],
      table_data:[],
      intervalId:null,
      combineChart:null,
      option:null
    }
  },
  created() {
  },
  methods: {
    dataRefreh() {
      //计时器时间未到，不操作
      if (this.intervalId) {
        return;
      }
      // 计时器时间到，重新加载数据绘图
      this.intervalId = setInterval(() => {
        this.$nextTick(() => {
          this.init_chart();
        })
      }, 1000000);
    },

    // 停止定时器
    clear() {
      clearInterval(this.intervalId); //清除计时器
      this.intervalId = false; //设置为false
    },

     async getdata() {//模拟数据
       await this.$http({
         url: '/system/qar/business/info',
         method: 'get',
         data: {}//传值
       }).then(res => {
         this.result_data = res.data.data
       });
      this.table_data=[]
     //后端传的是适合画图的数据格式，需要进行处理才能在表格中展示
     for(var i=1;i<this.result_data.source.length;i++)
     {
       var temp=[]
       temp={
         'flowtype':this.result_data.source[i][0],
         'sum':this.result_data.source[i][1],
         'avgDelay':this.result_data.source[i][2],
         'avgArrivate':this.result_data.source[i][3]
       }
       this.table_data.push(temp)
     }
    },

    async init_chart() {
      await this.getdata()
      this.option = {
        legend: {
          left:'55%',
          top:'20%',
          backgroundColor: 'rgba(156,216,202,0.96)',
        },
        tooltip: {
          trigger: 'axis',
          showContent: false
        },
        dataset:this.result_data,
        xAxis: [{
          gridIndex: 0,
          type: 'category',
        },
          {
            gridIndex: 1,
            type: 'category',
          }],
        yAxis: [{ gridIndex: 0,
        type:'value'},
          {gridIndex:1,
          type: 'value'
          }],
        grid: [{
          top:'5%',
          left: '4%',
          height: "40%",
          width: "40%"
        }, {
          top:'55%',
          left: '4%',
          height: "40%",
          width: "40%"
        }],
          series: [
            //对6类业务分别进行绘图，这样可以保证图中只出现特征数的横轴，方便实时绘制饼状图
          {
            xAxisIndex:0,
            yAxisIndex:0,
            type: 'scatter',
            smooth: true,
            seriesLayoutBy: 'row',
            emphasis: { focus: 'series' }
          },
          {
            xAxisIndex:0,
            yAxisIndex:0,
            type: 'scatter',
            smooth: true,
            seriesLayoutBy: 'row',
            emphasis: { focus: 'series' }
          },
          {
            xAxisIndex:0,
            yAxisIndex:0,
            type: 'scatter',
            smooth: true,
            seriesLayoutBy: 'row',
            emphasis: { focus: 'series' }
          },
          {
            xAxisIndex:0,
            yAxisIndex:0,
            type: 'scatter',
            smooth: true,
            seriesLayoutBy: 'row',
            emphasis: { focus: 'series' }
          },
          {
            xAxisIndex:0,
            yAxisIndex:0,
            type: 'scatter',
            smooth: true,
            seriesLayoutBy: 'row',
            emphasis: { focus: 'series' }
          },
          {
            xAxisIndex:0,
            yAxisIndex:0,
            type: 'scatter',
            smooth: true,
            seriesLayoutBy: 'row',
            emphasis: { focus: 'series' }
          },
          {
            type: 'pie',
            id: 'pie',
            top:'10%',
            left:'30%',
            height:'100%',
            radius: '35%',
            emphasis: {
              focus: 'self'
            },
            label: {
              formatter: '{b}: {@2012} ({d}%)'
            },
            encode: {
              itemName: 'flowtype',
              value: 'sum',
              tooltip: 'sum'
            }
          },
          {
            xAxisIndex:1,
            yAxisIndex:1,
            type: 'bar',
            id: 'bar',
            barWidth:'25px',
            emphasis: {
              focus: 'self'
            },
            label: {
              formatter: '{b}: {@2012} ({d}%)'
            },
            //条形图与饼状图不一样，需要设置x,y轴，不仅仅是设置值。
            encode: {
              x:'flowtype',
              y:'sum'
            }
          }
        ]
      };
      this.combineChart.on('updateAxisPointer',  (event)=> {
        const xAxisInfo = event.axesInfo[0];
        if (xAxisInfo) {
          const dimension = xAxisInfo.value+1;
          this.combineChart.setOption({
            series: [{
              id: 'pie',
              label: {
                formatter: '{b}: {@[' + dimension + ']} ({d}%)'
              },
              encode: {
                value: dimension,
                tooltip: dimension
              }
            },

              {
                id: 'bar',
                label: {
                  formatter: '{b}: {@[' + dimension + ']} ({d}%)'
                },
                encode: {
                  x:'flowtype',
                  y:dimension
                }
              },
            ]
          });
        }
      });
      this.combineChart.setOption(this.option);
    }
},
  mounted() {

    // 基于准备好的dom，初始化echarts实例
    this.combineChart=this.$echarts.init(document.getElementById('combineChart'))
    this.init_chart()
    this.dataRefreh()

  },

  unmounted() {
    // 在页面销毁后，清除计时器
    this.clear();
  }
}
</script>

<style scoped>
.chart{
  width: 1000px;
  height:400px;
}
</style>