<template>
  <div class="panel-heading" style="text-align:center">
    网络历史参数图
  </div>
  <div class="chart" id="historychart"></div>
</template>

<script>
export default {
  name: "history_para",
  data() {
    return {
      history_data:null,
      historychart:null,
      option:null,
      intervalId:false
    }
  },
  created() {
  },
  methods:{
    dataRefreh() {
      //计时器时间未到，不操作
      if (this.intervalId) {
        return;
      }
      // 计时器时间到，重新加载数据绘图
      this.intervalId = setInterval(() => {
        this.$nextTick(() => {
          this.init_chart();
        })
      }, 1000);
    },

    // 停止定时器
    clear() {
      clearInterval(this.intervalId); //清除计时器
      this.intervalId = false; //设置为false
    },

   async  getdata(){//模拟数据
     await this.$http({
        url: '/system/history/historydata',
        method: 'get',
        data:{}//传值
      }).then(res => {
        this.history_data=res.data.data
       console.log("-----------------------------",this.history_data)
      });
    },

   async init_chart(){
     await  this.getdata()
      this.option = {
       dataset:this.history_data,
        tooltip: {
          show: true,
          trigger: 'axis'
        },
        legend: {
          data: ['Controller', 'Switch', 'Host','Link','Throughout'],
          itemWidth: 15,//图例图标的宽
          itemHeight: 15,//图例图标的高
          textStyle: {
            color: 'yellow',//值的具体的颜色
          },
          show: true,
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true
        },
        toolbox: {
          show: true,
          feature: {
            dataView: {
              show: true,
              title: "数据视图",
              readOnly: false,
            },
            magicType: {//动态类型切换,包括'line'（切换为折线图）, 'bar'（切换为柱状图）,
              type: ['bar', 'line'],
            },
            saveAsImage: {//保存图片
              show: true,
            },
            dataZoom: {//放缩工具
              show: true,
            },
          },
          iconStyle:{
            normal:{
              color:'#FFF',//设置颜色
            }
          }
        },
        xAxis: {
          type: 'category',
          boundaryGap: false,
          inverse:true
        },
        yAxis: {
          type: 'value'
        },
        series: [
          {
            name: 'Controller',
            type: 'line',
            encode:{
              x:"date",
              y:"controller_sum"
            }
          },
          {
            name: 'Switch',
            type: 'line',
            encode:{
              x:"date",
              y:"switch_sum"
            }
          },
          {
            name: 'Host',
            type: 'line',
            encode:{
              x:"date",
              y:"host_sum"
            }
          },
          {
            name: 'Link',
            type: 'line',
            encode:{
              x:"date",
              y:"link_sum"
            }
          },
          {
            name: 'Throughout',
            type: 'line',
            encode:{
              x:"date",
              y:"throughout_sum"
            }
          }
        ]
      };
      this.historychart.setOption(this.option)
      window.addEventListener('resize',  ()=> {
       this.historychart.resize()
     })
    }
  },
  mounted() {

    // 基于准备好的dom，初始化echarts实例
    this.historychart = this.$echarts.init(document.getElementById("historychart"));
    this.init_chart()
    this.dataRefreh()

  },

  unmounted() {
    // 在页面销毁后，清除计时器
    this.clear();
  }
}
</script>

<style scoped>
.chart{
  width: 100%;
  height: 100%;
}
</style>