<template>
<!--  <div class="overall-monitoring">-->
<!--    &lt;!&ndash; 头部信息 &ndash;&gt;-->
<!--    <div class="header-panel">-->
<!--        <div>-->
<!--          <h1  class="header-title">{{title}}</h1>-->
<!--          <el-button type="primary" @click="changePart" class="header-click">切换</el-button>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="divider-horizontal"></div>-->

<!--    &lt;!&ndash;Part1:拓扑模块 &ndash;&gt;-->
<!--    <div class="main-panel"  v-if="isShow">-->
<!--      &lt;!&ndash; 左边信息 &ndash;&gt;-->
<!--      <div class="main-panel-left">-->
<!--        <div  class="main-panel-left-top">-->
<!--          <el-select v-model="value" placeholder="拓扑模式"  style="width: 10%;display: inline-block">-->
<!--            <el-option-->
<!--                v-for="item in options"-->
<!--                :key="item.value"-->
<!--                :label="item.label"-->
<!--                :value="item.value"-->
<!--            >-->
<!--            </el-option>-->
<!--          </el-select>-->

<!--          <topology-chart v-if="value===2"/>-->

<!--          <single-topo v-if="value===1"/>-->
<!--         </div>-->

<!--        <div class="divider-horizontal"></div>-->
<!--        <div  class="main-panel-left-bottom">-->
<!--          <history_para/>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="divider-vertical"></div>-->

<!--      &lt;!&ndash; 右边信息 &ndash;&gt;-->
<!--      <div class="main-panel-right">-->
<!--        <div class="main-panel-right-top">-->
<!--          <link-chart/>-->
<!--        </div>-->
<!--        <div class="divider-horizontal"></div>-->
<!--        <div class="main-panel-right-bottom">-->
<!--         <business-total/>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    &lt;!&ndash;Part2:业务模块&ndash;&gt;-->
<!--    <div class="main-panel-2" v-else>-->
<!--        <real-time-chart/>-->
<!--    </div>-->
<!--  </div>-->
  <div class="fullscreen">
  <div class="screen-container">
    <header class="screen-header">
      <span class="title">网络环境拓扑实时演示系统</span>
      <div class="title-right">
<!--        <span class="datetime">{{ timeValue }}</span>-->
        <el-button type="primary" @click="changePart" class="header-click">切换</el-button>
      </div>
    </header>
    <div class="screen-body"  v-if="isShow">
      <div class="screen-top">
        <div id="left-top">
          <!-- 拓扑模块 -->
          <span class="panel-heading-long">
            <span class="panel-heading-text" style="margin-left: 50px">主拓扑模块</span>
            </span>
          <el-select v-model="value" placeholder="拓扑模式"  style="width: 10%;display: inline-block">
                        <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value"
                        >
                        </el-option>
          </el-select>

          <topology-chart v-if="value===2"/>

          <single-topo v-if="value===1"/>
        </div>
        <div id="right-top">
          <!-- 业务数目模块，抽屉展示链路带宽情况 -->
          <span class="panel-heading-middle">
            <span class="panel-heading-text">业务数目模块</span>
          </span>
          <el-button type="primary" class="drawer-click"></el-button>
          <business-type/>
        </div>
      </div>
      <div class="screen-bottle">
        <div id="left-bottom">
          <!-- 历史参数图表 -->
          <span class="panel-heading-short">
            <span class="panel-heading-text">历史参数模块</span>
          </span>
        <history_para/>
        </div>
        <div id="middle-bottom">
          <!-- 业务平均时延图表 -->
          <span class="panel-heading-short">
            <span class="panel-heading-text">业务时延模块</span>
          </span>
         <business-avg-delay/>
        </div>
        <div id="right-bottom">
          <!-- 业务平均到达率 -->
          <span class="panel-heading-short">
            <span class="panel-heading-text">业务到达率模块</span>
          </span>
          <business-avg-arr/>
        </div>
      </div>
    </div>
    <div class="screen-body" v-else>
      <real-time-chart/>
    </div>
  </div>
  </div>
</template>

<script>
import topologyChart from '@/pages/network/topologyChart'
// import linkChart from '@/pages/network/linkChart'
import realTimeChart from '@/pages/routing/realTimeChart'
import history_para from "@/pages/network/history_para";
import singleTopo from "@/pages/network/singleTopo";
// import businessTotal from "@/pages/network/businessTotal";
import businessAvgDelay from "@/pages/network/businessAvgDelay";
import businessAvgArr from "@/pages/network/businessAvgArr";
import businessType from "@/pages/network/businessType";



export default {
  name: 'networkManage',
  components: {
    topologyChart,
    // linkChart,
    realTimeChart,
    history_para,
    singleTopo,
    // businessTotal,
    businessAvgDelay,
    businessAvgArr,
    businessType
  },
  props: {
  },
  data () {
    return {
      isShow:true,
  // /*    title1:"可视化演示系统--拓扑部分",
  //     title2:"可视化演示系统--业务部分",
  //     title:null,
      value:2,
      options: [
        {
          value: 1,
          label: '单信道拓扑',
        },
        {
          value: 2,
          label: '多信道拓扑',
        },
      ],

    }
  },
  computed: {
  },
  watch: {
  },
  created () {
    //this.title=this.title1
  },
  methods: {
    changePart(){
      this.isShow=!this.isShow
      if(this.title===this.title1)
        this.title=this.title2
      else
        this.title=this.title1

    },
  }
}
</script>

<style  scoped>
.fullscreen {
     position: fixed !important;
     top: 0 !important;
     left: 0 !important;
     width: 100% !important;
     height: 100% !important;
     margin: 0 !important;
     z-index: 9999;
  background: url("../../../assert/img/wrapper-bg.png");
  background-size: 100%,100%;
   }
.screen-container {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  color: #ffffff;
  box-sizing: border-box;
}
.screen-header {
  width: 100%;
  height: 5%;
  margin-top: 1%;
  font-size: 20px;
  position: relative;
}
.title {
  position: absolute;
  left: 50%;
  font-size: 30px;
  color: aqua;
  transform: translate(-50%, -50%);
  display: inline-block;
  font-family: "Microsoft YaHei";
}
.title-right {
  align-items: center;
  position: absolute;
  right: 0px;
  transform: translateY(-80%);
  display: inline-block;
}
.header-click {
  width: 100px;
  height: 50px;
  margin-top: 100px;
  margin-right: 100px;
}
.drawer-click{
  width: 30px;
  height: 70px;
  position:absolute;
  left:0;top:50%;
  transform:translate(0,-50%);
  background: url("../../../assert/img/drawer-click-open.png");
  background-size: 100%,100%;
}
.panel-heading-long{
  height: 44px;
  width: 100%;
  display: block;
  background: url("../../../assert/img/title-bg-long.png");
  background-size: 100%,100%;
}
.panel-heading-middle{
  height: 44px;
  width: 100%;
  display: block;
  background: url("../../../assert/img/title-bg-middle.png");
  background-size: 100%,100%;
}
.panel-heading-short{
  height: 44px;
  width: 100%;
  display: block;
  background: url("../../../assert/img/title-bg-short.png");
  background-size: 100%,100%;
}
.panel-heading-text{
  font-family: "Microsoft YaHei";
  font-size: 25px;
  margin-left: 30px;
  color: #e9c29d;
  margin-top: 10px;
}
.datetime {
  font-size: 15px;
  margin-left: 10px;
}

.screen-body {
  width: 100%;
  height: 100%;
  margin-top: 10px;
}
.screen-top {
  height: 60%;
  width: 100%;
}
#left-top {
  width: 70%;
  height:100%;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  background: url("../../../assert/img/panel-topo.png");
  background-size: 100%,100%;
}
#right-top {
  width: 25%;
  height: 100%;
  margin-left: 25px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  background: url("../../../assert/img/panel-btype.png");
  background-size: 100%,100%;
}
.screen-bottle {
  height: 30%;
  width: 100%;
  margin-top: 1.6%;
  margin-bottom: 3%;
}
#left-bottom {
  width: 32%;
  height: 100%;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  background: url("../../../assert/img/panel-bavg.png");
  background-size: 100%,100%;
}
#middle-bottom {
  margin-left: 25px;
  width: 32%;
  height: 100%;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  background: url("../../../assert/img/panel-bavg.png");
  background-size: 100%,100%;

}
#right-bottom {
  width: 32%;
  height: 100%;
  margin-left: 25px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  background: url("../../../assert/img/panel-bavg.png");
  background-size: 100%,100%;
}
</style>
