<template >
  <div class="panel-heading" style = "text-align: center" >
    链路实时可用带宽
  </div>
  <div class="chart"  id="bandwith" style="width: 100%; height: 100%;"></div>
</template>

<script>


export default {
  name: 'link-chart',
  components: {},
  props: {},
  data() {
    return {
      bwdata: [],
      intervalId: null,
      mychart: null,
      option: null
    }
  },
  created() {
  },
  methods: {
    dataRefreh() {
      //计时器时间未到，不操作
      if (this.intervalId) {
        return;
      }
      // 计时器时间到，重新加载数据绘图
      this.intervalId = setInterval(() => {
        this.$nextTick(() => {
          this.init_chart()
        })
        console.log("刷新" + new Date(), this.bwdata);
      }, 5000);
    },
    // 停止定时器
    clear() {
      clearInterval(this.intervalId); //清除计时器
      this.intervalId = false; //设置为false
    },
    async getdata() {
      await this.$http({
        url: '/system/bandwidth/congestion',
        method: 'get',
        data: {}//传值
      }).then(res => {
        this.bwdata = res.data.data
      })
    },


    init_chart() {
      this.getdata()
      var labelOption = {
        show: true,
      };

      this.option = {
        dataset: this.bwdata,
        labelOption: labelOption,
        xAxis: {
          name: 'bps',
        },

        color: ['red', 'yellow', 'green', 'orange'],
        legend: {//图例
          data: ["信道1", "信道2", "信道3", "信道4"],//与series的name对应
          top: "4%",
          itemWidth: 20,//图例图标的宽
          itemHeight: 20,//图例图标的高
          textStyle: {
            color: 'yellow',//值的具体的颜色
          },
          show: true,
        },
        yAxis: {
          type: 'category',
          name: 'Switch:Switch',
          inverse: true,
          axisLabel: {
            textStyle: {
              color: 'red'
            }
          },
          animationDuration: 30,
          animationDurationUpdate: 30
        },
        visualMap: [{
          orient: 'horizontal',
          left: 'center',
          min: 0,
          max: 1,
          text: ['High Score', 'Low Score'],
          // Map the score column to color
          dimension: 0,
          seriesIndex: 0,
          inRange: {
            color: ['#10fd08', '#f8ff07', '#fd1f29']
          },
          outRange: {
            color: 'black'
          }
        },
          {
            orient: 'horizontal',
            left: 'center',
            min: 0,
            max: 1,
            text: ['High Score', 'Low Score'],
            // Map the score column to color
            dimension: 3,
            seriesIndex: 1,//series里的数据
            inRange: {
              color: ['#10fd08', '#f8ff07', '#fd1f29']
            },
            outRange: {
              color: 'black'
            }
          },
          {
            orient: 'horizontal',
            left: 'center',
            min: 0,
            max: 1,
            text: ['High Score', 'Low Score'],
            // Map the score column to color
            dimension: 6,
            seriesIndex: 2,
            inRange: {
              color: ['#10fd08', '#f8ff07', '#fd1f29']
            },
            outRange: {
              color: 'black'
            }
          },
          {
            orient: 'horizontal',
            left: 'center',
            min: 0,
            max: 1,
            text: ['High Score', 'Low Score'],
            // Map the score column to color
            dimension: 9,
            seriesIndex: 3,
            inRange: {
              color: ['#10fd08', '#f8ff07', '#fd1f29']
            },
            outRange: {
              color: 'black'
            }
          }
        ],


        label: {
          show: true, //开启显示
          position: "", //在右侧显示
          textStyle: { //数值样式
            color: '#534986',
            fontSize: 16,
            fontWeight: 600
          }
        },
        dataZoom: [//滑动按钮
          {
            type: 'slider',
            show: true,
            xAxisIndex: [0],
            top: '90%'
          },
          {
            type: 'slider',
            show: true,
            yAxisIndex: [0],
            start: 80,//设置滑动窗口初始比例
            left: '95%'
          }
        ],
        series: [//数据
          {
            name: "信道1",
            type: 'bar',
            encode: {//分别与系列中的哪列值作为输入进行绘制
              // Map the "amount" column to X axis.
              x: 'amount1',
              // Map the "product" column to Y axis
              y: 'product',

            }
          },
          {
            name: "信道2",
            type: 'bar',
            encode: {
              // Map the "amount" column to X axis.
              x: 'amount2',
              // Map the "product" column to Y axis
              y: 'product',

            }
          },
          {
            name: "信道3",
            type: 'bar',
            encode: {
              // Map the "amount" column to X axis.
              x: 'amount3',
              // Map the "product" column to Y axis
              y: 'product',
            }
          },
          {
            name: "信道4",
            type: 'bar',
            encode: {
              // Map the "amount" column to X axis.
              x: 'amount4',
              // Map the "product" column to Y axis
              y: 'product',
            }
          }

        ]
      }
      this.mychart.setOption(this.option)
      window.addEventListener('resize',  ()=> {
        this.mychart.resize()
      })
    },
  },


  mounted() {

    // 基于准备好的dom，初始化echarts实例
    this.mychart = this.$echarts.init(document.getElementById("bandwith"));
    this.init_chart()
    this.dataRefreh()
  },
  unmounted() {
    // 在页面销毁后，清除计时器
    this.clear();
  }
}
</script>

<style scoped>
</style>
