<template>
  <div class="panel-heading" style="text-align:center">
    网络实时拓扑图--2
  </div>
  <div class="chart" id="multichart"></div>
  <clickNodeDialog :dialogVisible="dialogNodeVisible" :NodeData="selectNodeData" @callback="closeNodeDialog"/>
  <clickLinkDialog :dialogVisible="dialogLinkVisible" :bdpieData="bdpieData" :radarData="radarData" @callback="closeLinkDialog"/>
</template>

<script>


import clickNodeDialog from "@/components/dialog/clickNodeDialog";
import clickLinkDialog from "@/components/dialog/clickLinkDialog";
import qs from "qs";
export default {
  name:"multitopo",
  components: {clickNodeDialog,clickLinkDialog},
  props:{},
  data() {
    return {
      nodes: [],
      links: [],
      graph: [],
      categories: [],
      selectNodeData:[],
      radarData:[],
      bdpieData:[],
      dialogLinkVisible:false,
      dialogNodeVisible:false,
      intervalId:false,
      chartData:null,
      option:null,
    }
  },

  created() {
  },

  methods: {
    dataRefreh() {
      //计时器时间未到，不操作
      if (this.intervalId) {
        return;
      }
      // 计时器时间到，重新加载数据绘图
      this.intervalId = setInterval(() => {
        this.$nextTick(() => {
          this.set_data();
        })
        console.log("刷新" + new Date(), this.graph);
      }, 5000);
    },
    // 停止定时器
    clear() {
      clearInterval(this.intervalId); //清除计时器
      this.intervalId = false; //设置为false
    },

    async set_data() {

      this.graph = []
      this.links = []
      this.nodes = []
      this.categories = []
      await this.getdata()

      for (var i = 0; i < this.graph.nodes.length; i++) {
        var value = []
        if (this.graph.nodes[i].category >= 1 && this.graph.nodes[i].category <= 5) {
          value = {
            x: this.graph.nodes[i].x,
            y: this.graph.nodes[i].y,
            name: this.graph.nodes[i].name,
            value: this.graph.nodes[i].value,
            category: this.graph.nodes[i].category,
            symbolSize: this.graph.nodes[i].symbolSize,
            id: this.graph.nodes[i].id,
            symbol: this.graph.nodes[i].symbol,
            ip: this.graph.nodes[i].ip
          };
          this.nodes.push(value)
        } else {
          value = {
            x: this.graph.nodes[i].x,
            y: this.graph.nodes[i].y,
            name: this.graph.nodes[i].name,
            value: this.graph.nodes[i].value,
            category: this.graph.nodes[i].category,
            symbolSize: this.graph.nodes[i].symbolSize,
            id: this.graph.nodes[i].id,
            symbol: this.graph.nodes[i].symbol
          };
          this.nodes.push(value)
        }
      }

//链路数据
      for (var j = 0; j < this.graph.links.length; j++) {//根据端口号对链路进行颜色区分，后期使用信道类型进行划分
        var color = ''
        switch (this.graph.links[j].type) {
          case "0":
            color = '#000';
            break;
          case "1":
            color = '#61a0a4';
            break;
          case "2":
            color = '#749f85';
            break;
          case "3":
            color = '#d48263';
            break;
          case "4":
            color = '#c23533';
            break;
          case "5":
            color = '#16f506';
            break;
        }
        var value1 = []

        value1 = {
          source: this.graph.links[j].src,
          target: this.graph.links[j].dst,
          sourceport: this.graph.links[j].src_port,
          targetport: this.graph.links[j].dst_port,
          remain_bw: this.graph.links[j].remain_bandwidth,
          max_bw: this.graph.links[j].max_bandwidth,
          delay: this.graph.links[j].delay,
          drop: this.graph.links[j].drop,
          score: this.graph.links[j].score,
          type: this.graph.links[j].type,
          lineStyle: {
            normal: {
              color: color,
              curveness: 0.1 * this.graph.links[j].type,
              width: 1,
            }
          }
        }

        this.links.push(value1)
      }
      console.log("----------------nodes", this.nodes)
      console.log("----------------links", this.links)

//主控制器数据

      this.option.series[0].data = this.nodes
      this.option.series[0].links = this.links
      //    this.chartData.clear()
      this.chartData.setOption(this.option)
    },

    async getdata() {//获取数据
      await this.$http({
        url: '/system/topodata',
        method: 'get',
        data: {}//传值
      }).then(res => {
        this.graph = res.data

      });
    },
    init_chart() {
      // 绘制图表
      //chartData.showLoading();
      var itemStyle = {
        opacity: 1,
        shadowBlur: 10,
        shadowOffsetX: 0,
        shadowOffsetY: 0,
        shadowColor: 'rgba(0,0,0,0.3)',
      };

      this.set_data()
//图例
      this.categories = [{
        id: 0,
        name: "Controller",
        itemStyle: {normal: {color: '#f8ff07'}},
        symbolSize: [42, 42]
      },
        {
          id: 1,
          name: "Host",
          itemStyle: {normal: {color: '#61a0a8'}},
          symbolSize: [42, 42]
        },
        {
          id: 2,
          name: "Host-10k",
          itemStyle: {normal: {color: '#749f83'}},
          symbolSize: [42, 42]
        },
        {
          id: 3,
          name: "Host-100k",
          itemStyle: {normal: {color: '#d48265'}},
          symbolSize: [42, 42]
        },
        {
          id: 4,
          name: "Host-1M",
          itemStyle: {normal: {color: '#3ec203'}},
          symbolSize: [42, 42]
        },
        {
          id: 5,
          name: "Host-10M",
          itemStyle: {normal: {color: '#c2b626'}},
          symbolSize: [42, 42]
        },
        {
          id: 6,
          name: "Switch-1M",
          itemStyle: {normal: {color: '#b362c2'}},
          symbolSize: [42, 42]
        },
        {
          id: 7,
          name: "Switch-10M",
          itemStyle: {normal: {color: '#c23531'}},
          symbolSize: [42, 42]
        },
        {
          id: 8,
          name: "Switch-100M",
          itemStyle: {normal: {color: '#6513c2'}},
          symbolSize: [42, 42]
        },
        {
          id: 9,
          name: "Main-Controller",
          itemStyle: {normal: {color: 'rgba(134,44,17,0.75)'}},
          symbolSize: [42, 42]
        },

      ]

      for (var p = 0; p < this.nodes.length; p++) {
        this.nodes[p].label = {
          show: true
        }
      }

//图表配置
      this.option = {
        coordinateSystem: 'cartesian2d',
        tooltip: {//设置悬浮框格式
          trigger: "item",
          backgroundColor: "rgba(255,255,255,0.8)", //设置背景图片 rgba格式
          color: "black",
          borderWidth: "1", //边框宽度设置1
          borderColor: "gray", //设置边框颜色
          textStyle: {
            color: "black" //设置文字颜色
          },
          formatter: (param) => {
            // 获取xAxis data中的数据
            var result
            if (param.dataType === "node") {
              var sum = 0
              for (var i = 0; i < this.links.length; i++) {
                if (this.links[i].source === param.data.id)
                  sum = sum + 1
              }
              if (param.data.category >= 1 && param.data.category <= 5)
                result = "链接数   " + sum + "</br>" + "ip   " + param.data.ip
              else
                result = "链接数   " + sum
            } else
              result = "类型   " + param.data.type
                  + "</br>" + "时延   " + param.data.delay
                  + "</br>" + "信道丢包率   " + param.data.drop
                  + "</br>" + "剩余带宽   " + param.data.remain_bw
                  + "</br>" + "评分   " + param.data.score
                  + "</br>" + "最大带宽   " + param.data.max_bw
            return result
          }
        },
        legend: [{
          data: this.categories.map(function (a) {
            return a.name;
          }),
          backgroundColor: 'rgba(156,216,202,0.96)',
        }],
        animationDurationUpdate: 60,
        animationEasingUpdate: 'quinticInOut',
        series: [
          {
            name: 'IPV4-Address',
            type: 'graph',
            layout: 'none',
            zoom: 1,//缩放比例
            data: this.nodes,//关系图节点
            itemStyle: itemStyle,
            links: this.links,//关系图连接
            categories: this.categories,//图分类
            draggable: true,
            focusNodeAdjacency: true,
            roam: true,
            label: {
              show: true,
              position: 'right',
              formatter: '{b}'
            },
            circular: {
              rotateLabel: true
            },
            labelLayout: {
              hideOverlap: true
            },
            scaleLimit: {
              min: 0.0001,
              max: 1000
            },
            /*    force: { //力引导图基本配置
              // initLayout:'circular' ,//力引导的初始化布局，默认使用xy轴的标点
              repulsion: 100,//节点之间的斥力因子。支持数组表达斥力范围，值越大斥力越大。
              gravity: 0.01,//节点受到的向中心的引力因子。该值越大节点越往中心点靠拢。
              edgeLength: [100, 200],//边的两个节点之间的距离，这个距离也会受 repulsion。[10, 50] 。值越小则长度越长
              layoutAnimation: true
              //因为力引导布局会在多次迭代后才会稳定，这个参数决定是否显示布局的迭代动画，在浏览器端节点数据较多（>100）的时候不建议关闭，布局过程会造成浏览器假死。
            },*/

            emphasis: {
              focus: 'adjacency',
              linkstyle:
                  {
                    width: 20
                  }
            }
          }
        ]
      }
      this.chartData.setOption(this.option)
      this.chartData.on('click', async (param) => {
        //获取节点点击的数组序号
        var arrayIndex = param.dataIndex;
        console.log('arrayIndex---->', arrayIndex);
        if (param.dataType === 'node') {
          await this.getSelectNodeData(param.data)
          this.dialogNodeVisible = true
          console.log('-------------------------------node---success')
        } else {
          await this.getSelectBwData(param.data)
          this.radarData = [param.data]
          this.dialogLinkVisible = true
            console.log('-------------------------------link---success')
          }
      })
      window.addEventListener('resize', () => {
        this.chartData.resize()
      })
    },
    closeNodeDialog() {//关闭节点窗口
      this.dialogNodeVisible = false
    },
    closeLinkDialog() {//关闭链路窗口
      this.dialogLinkVisible = false
    },
    async getSelectNodeData(param) {
     await this.$http({
        url: '/system/qar/topo/postNodeNum',
        method: 'post',
        data: qs.stringify({id:param.id})
      }).then(res => {
          this.selectNodeData =res.data.routingtable
      })
    },
    async getSelectBwData(param) {
      await this.$http({
        url: '/system/qar/topo/postLinkState',
        method: 'post',
        data: qs.stringify({source:param.source,target:param.target,type:param.type})
      }).then(res => {
        this.bdpieData=res.data.routingtable
         }
      )
    }
  },

  mounted() {

    // 基于准备好的dom，初始化echarts实例
    this.chartData = this.$echarts.init(document.getElementById("multichart"));
    this.init_chart()
    this.dataRefreh()
  },

  unmounted() {
    // 在页面销毁后，清除计时器
    this.clear();
  }
}
</script>

<style  scoped>
#multichart{height:100%;width:100%;}
</style>
