<template>
  <el-dialog v-model="showDialog" @open="openDialog" :before-close="handleClose"  style="width: 600px;height: 500px">
    <div class="chart" id="radarChart" style="width: 35%;height: 500px;display: inline-block"></div>
    <div class="chart" id="bdpieChart"  style="width: 35%;height: 500px;display: inline-block"></div>
    <div class="chart" id="scorepieChart" style="width: 30%;height: 500px;display: inline-block"></div>
  </el-dialog>
</template>

<script>


export default {
  name: "clickLinkDialog",
  components: {
  },
  emits: ['callback'],
  props: {
    dialogVisible: {
      type: Boolean,
      default: false
    },
     bdpieData: {
      type:Array,
      default: () => {
        return []
      }
    },
    radarData:{
      type:Object,
      default:()=>{
        return {}
      }
    }
  },

  setup (props, { emit }) {
    const handleClose = () => {
      emit('callback')
    }
    return {
      handleClose
    }
  },
  data () {
    return {
      showDialog: false,
      bdpieChart:null,
      bdpiedata:[],
      radardata:null,
      radarChart:null,
      scorepieChart:null,
      scoreoption:null,
      pieoption:null,
      radaroption:null,
    }
  },
  computed: {
  },
  watch: {
    dialogVisible() {
      this.bdpiedata=[]
      this.showDialog = this.dialogVisible
      this.radardata=this.radarData
      //将对象转换为饼状图可以使用的数据格式
      for (var i = 0; i < this.bdpieData.length; i++) {
        var v
        v = {value: this.bdpieData[i].value, name: this.bdpieData[i].name}
        this.bdpiedata.push(v)
      }
      console.log('---------------------------------++++++++++++++',this.radardata)
      console.log("-----------------------------------------------_________",this.bdpiedata)
    }
  },
  created () {
  },
  methods: {
    //打开网页
    openDialog() {
      this.$nextTick(() => {
        this.bdpieChart = this.$echarts.init(document.getElementById("bdpieChart"));
        this.radarChart = this.$echarts.init(document.getElementById("radarChart"))
        this.scorepieChart=this.$echarts.init(document.getElementById("scorepieChart"))
        this.initChart()
      })
    },
    initChart() {
      this.pieoption = {
        title: {
          text: '带宽分配图',
          left: 'center',
        },
        tooltip: {
          trigger: 'item'
        },
        legend: {
          left: 'center',
          top:'15%'
        },
        series: [
          {
            type: 'pie',
            radius: '50%',
            data:this.bdpiedata,
            emphasis: {
              itemStyle: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
              }
            }
          }
        ]
      };
      this.bdpieChart.setOption(this.pieoption)

      this.radaroption = {
        title: {
          text: '属性雷达图',
          left:'center'
        },
        radar: {
          // shape: 'circle',
          indicator: [
            { name: '时延', max: 1000 },
            { name: '剩余带宽', max: 40000 },
            { name: '丢包', max: 1000 },
            { name: '评分', max: 1 },
            { name: '最大带宽', max: 40000 },
          ]
        },
        series: [
          {
            name: '属性',
            type: 'radar',
            data:[{
              value:[
                parseFloat(this.radardata[0].delay),
                parseFloat(this.radardata[0].remain_bw),
                parseFloat(this.radardata[0].drop),
                parseFloat(this.radardata[0].score),
                parseFloat(this.radardata[0].max_bw)],
              name:"属性"
            }
          ]
          }
        ]
      }
      this.radarChart.setOption(this.radaroption)

      this.scoreoption={
        color:['green','gray'],
        tooltip: {
          trigger: 'item'
        },
        title:{
          text:'信道评分示意图',
          left:'center'
        },
        series: [
          {
            name: '信道评分示意',
            type: 'pie',
            radius: ['40%', '70%'],
            avoidLabelOverlap: false,
            label: {
              show: true,
              position: 'center',
              formatter:()=>{
                return parseFloat(this.radardata[0].score)
              },
              textStyle: {
                color: "black", //设置文字颜色
                fontSize: 40
              },

            },
            emphasis: {
              label: {
                show: true,
                fontSize: '20',
                fontWeight: 'bold'
              }
            },
            labelLine: {
              show: false
            },
            data: [
              { value:parseFloat(this.radardata[0].score), name: '信道评分'},
              { value:100-parseFloat(this.radardata[0].score),name:'差值'},
            ]
          }
        ]
      }

      this.scorepieChart.setOption(this.scoreoption)
    }
  }
}
</script>

<style scoped>
.chart{
  width: 600px;
  height: 500px;
}
</style>