<template>
  <el-dialog v-model="showDialog"  :before-close="handleClose"   width="70%" height="50%">
    <div class="panel-heading" style="text-align:center">
      选中节点详情
    </div>
    <el-table :data="NodeData"  stripe>
      <el-table-column property="src" label="源主机" ></el-table-column>
      <el-table-column property="srcPort" label="源TCP端口" ></el-table-column>
      <el-table-column property="dst" label="目的主机" ></el-table-column>
      <el-table-column property="dstPort" label="目的TCP端口" ></el-table-column>
      <el-table-column property="type" label="业务类型"></el-table-column>
      <el-table-column property="route" label="路由选择"></el-table-column>
      <el-table-column property="linkType" label="信道类型"></el-table-column>
      <el-table-column property="bandwidth" label="带宽分配"></el-table-column>
      <el-table-column property="delay" label="业务时延"></el-table-column>
      <el-table-column property="sendTime" label="开始时间"></el-table-column>
      <el-table-column property="isArrive" label="是否到达"></el-table-column>
      <el-table-column property="sendPacket" label="发包总数"></el-table-column>
      <el-table-column property="receivePacket" label="接受总数"></el-table-column>
    </el-table>
  </el-dialog>
</template>

<script>
export default {
  name: "clickNodeDialog",
  components: {},
  emits: ['callback'],
  props: {
    dialogVisible: {
      type: Boolean,
      default: false
    },
    NodeData: {
      type: Array,
      default: () => {
        return []
      }
    }
  },
  computed: {},
  watch: {
    dialogVisible () {
      this.showDialog = this.dialogVisible
      console.log("data----------------",this.NodeData)
    }
  },
  setup(props, {emit}) {
    const handleClose = () => {
      emit('callback')

    }
    return {
      handleClose
    }
  },
  data() {
    return {
      showDialog: false,
    }
  },
  created() {
  }
}

</script>

<style scoped>

</style>