<template>
  <el-dialog v-model="showDialog" @open="openDialog" :before-close="handleClose"   width="70%" height="50%">
    <div class="panel-heading" style="text-align:center">
      选中路径展示
    </div>
    <div class="chart" id="selectedchart"></div>
  </el-dialog>
</template>

<script>
  export default {
    name: 'realtimeChartDialog',
    components: {},
    emits: ['callback'],
    props: {
      isShow: {
        type: Boolean,
        default: false
      },
      selectData: {
        type: Object,
        default: () => {
          return {}
        }
      }
    },

    setup(props, {emit}) {
      const handleClose = () => {
        emit('callback')

      }
      return {
        handleClose
      }
    },
    data() {
      return {
        showDialog: false,
        graph:[],
        nodes: [],
        links: [],
        paths: [],
        ports: [],
        categories: [],
        chartData: null
      }
    },
    computed: {},
    watch: {
      isShow() {
        this.showDialog = this.isShow
      }
    },
    created() {
    },
    methods: {
      async getdata() {
        await this.$http({
          url: '/system/topodata',
          method: 'get',
          data:{}//传值
        }).then(res => {
          this.graph=res.data

        });
      },
      openDialog() {//打开窗口函数
        this.$nextTick(() => {
          this.chartData = this.$echarts.init(document.getElementById("selectedchart"));
          this.initChart()
        })
      },

      get_path() {//根据选中数据生成路径
        for (var i = 0; i < this.selectData.length; i++) {
          var path = []
          var port = []
          path = this.selectData[i].path.replace("[", "")
          path = path.split(" ").join("")
          path = path.replace("]", "")
          port = this.selectData[i].port.replace("[", "")
          port = port.split(" ").join("")
          port = port.replace("]", "")
          var value1 = path.split(",")
          var value2 = port.split(",")
          /*  for(var num=0;num<this.value2.length;num++)
            this.value2[num]=parseInt(this.value2[num])%4*/
          this.paths.push(value1)
          this.ports.push(value2)
        }
        console.log(this.ports)
        console.log(this.paths)
      },

      async initChart() {//初始化图表，与topologyChart界面类似
        this.graph = []
        this.links = []
        this.nodes = []
        this.categories = []
        this.paths = []
        this.ports = []

        await this.getdata()
        console.log('graph', this.graph)
        // 基于准备好的dom，初始化echarts实例


        this.get_path()
        //节点数据
        for (var i = 0; i < this.graph.nodes.length; i++) {
          var value = []
          value = {
            x: this.graph.nodes[i].x,
            y: this.graph.nodes[i].y,
            name: this.graph.nodes[i].name,
            value: this.graph.nodes[i].value,
            category: this.graph.nodes[i].category,
            symbolSize: this.graph.nodes[i].symbolSize,
            id: this.graph.nodes[i].id,
            symbol: this.graph.nodes[i].symbol
          };
          this.nodes.push(value)
        }

        //链路数据

        for (var j = 0; j < this.paths.length; j++) {
          for (var jj = 0; jj < this.paths[j].length - 1; jj++) {
            var type = this.ports[j][jj]
            console.log('--------------type------', type)
            var color1='#000'
            switch (type) {
              case "1":
                color1 = '#61a0a4';
                break;
              case "2":
                color1 = '#749f85';
                break;
              case "3":
                color1 = '#d48263';
                break;
              case "4":
                color1 = '#c23533';
                break;
            }
            var value1 = []
            value1 = {
              source: this.paths[j][jj],
              target: this.paths[j][jj + 1],
              type: type,
              lineStyle: {
                normal: {
                  color: color1
                }
              }
            }
            // sourceport: this.ports[j][jj],
            // targetport: this.ports[j][jj+1]

            console.log(value1)
            this.links.push(value1)
          }

          //模拟节点x,y坐标，后续可换为地理坐标系

          this.categories = [{
            id: 0,
            name: "Controller",
            itemStyle: {normal: {color: '#f8ff07'}},
            symbolSize: [42, 42]
          },
            {
              id: 1,
              name: "Host",
              itemStyle: {normal: {color: '#61a0a8'}},
              symbolSize: [42, 42]
            },
            {
              id: 2,
              name: "Host-10k",
              itemStyle: {normal: {color: '#749f83'}},
              symbolSize: [42, 42]
            },
            {
              id: 3,
              name: "Host-100k",
              itemStyle: {normal: {color: '#d48265'}},
              symbolSize: [42, 42]
            },
            {
              id: 4,
              name: "Host-1M",
              itemStyle: {normal: {color: '#3ec203'}},
              symbolSize: [42, 42]
            },
            {
              id: 5,
              name: "Host-10M",
              itemStyle: {normal: {color: '#c2b626'}},
              symbolSize: [42, 42]
            },
            {
              id: 6,
              name: "Switch-1M",
              itemStyle: {normal: {color: '#b362c2'}},
              symbolSize: [42, 42]
            },
            {
              id: 7,
              name: "Switch-10M",
              itemStyle: {normal: {color: '#c23531'}},
              symbolSize: [42, 42]
            },
            {
              id: 8,
              name: "Switch-100M",
              itemStyle: {normal: {color: '#6513c2'}},
              symbolSize: [42, 42]
            },
            {
              id: 9,
              name: "Main-Contorll",
              itemStyle: {normal: {color: 'rgba(134,44,17,0.75)'}},
              symbolSize: [42, 42]
            },

          ]


          for (var p = 0; p < this.nodes.length; p++) {
            this.nodes[p].label = {
              show: this.nodes[p].symbolSize >= 10
            }
          }


          this.chartData.setOption({
            // title: {
            //     text: 'Les Miserables',
            //     subtext: 'Circular layout',
            //     top: 'bottom',
            //     left: 'right'
            // },
            coordinateSystem: 'cartesian2d',
            //   color: ['#060302', '#4F94CD', '#B3EE3A', '#DAA520', '#DA41CE'],
            tooltip: {},
            animationDurationUpdate: 150,
            animationEasingUpdate: 'quinticInOut',
            series: [
              {
                name: 'IPV4-Address',
                type: 'graph',
                layout: 'force',
                zoom: 0.5,//缩放比例
                data: this.nodes,//关系图节点
                // itemStyle:
                links: this.links,//关系图连接
                categories: this.categories,//图分类
                draggable: true,
                roam: true,
                label: {
                  //show: true,
                  position: 'right',
                  formatter: '{b}'
                },
                circular: {
                  rotateLabel: true
                },
                labelLayout: {
                  hideOverlap: true
                },
                scaleLimit: {
                  min: 0.00005,
                  max: 10000
                },
               // edgeSymbol: ['circle', 'arrow'],
                lineStyle: {
                  //color: 'source',
                  curveness:0.05
                },
                force: { //力引导图基本配置
                  //     initLayout:'circular' ,//力引导的初始化布局，默认使用xy轴的标点
                  repulsion: 200,//节点之间的斥力因子。支持数组表达斥力范围，值越大斥力越大。
                  gravity: 0.01,//节点受到的向中心的引力因子。该值越大节点越往中心点靠拢。
                  edgeLength: [100, 200],//边的两个节点之间的距离，这个距离也会受 repulsion。[10, 50] 。值越小则长度越长
                  layoutAnimation: true
                  //因为力引导布局会在多次迭代后才会稳定，这个参数决定是否显示布局的迭代动画，在浏览器端节点数据较多（>100）的时候不建议关闭，布局过程会造成浏览器假死。
                },

                emphasis: {
                  focus: 'adjacency',
                  lineStyle: {
                    width: 10
                  }
                }
              }
            ]
          });

        }
      }
    }
  }
</script>

<style scoped>
  .chart{width:100%;height:500px;}
</style>
