<template>
  <div id="app">
    <router-view ></router-view>
  </div>
</template>

<script>


export default {
  name: 'App',
  components: {
  }
}
</script>

<style>
html, body{min-height:100%;max-height:100%;height:100%;width:100%;margin:0;background-color: #05173b;}
#app{font-family:Avenir,Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:green;height:100%;}
.container{height:100%;overflow:hidden;}
.container .el-container,
.container .el-menu{height:100%;}
.wrapper-header{margin-bottom:15px;}
.wrapper-header .wrapper-title{font-size:50px;padding:0 0 20px;text-align: center}
.pull-right{float:right!important;}
.show-footerbar-fixed-box{height: 56px;}
.show-footerbar-fixed{position:fixed;padding:10px 45px 10px 30px;left:200px;right:0;bottom:0;background:#f2f2f2;z-index:100;box-shadow:-1px 0 1px 0 #999;}
.show-footerbar-fixed-box .show-pagination .el-pagination{padding:4px 0;}
.show-footerbar-fixed-box .show-pagination .el-pagination__sizes{margin: 0 0 0 10px;}
.panel-heading{
  height: 50px;
  font-size: x-large;
}
</style>
