<template>
  <div class="container">
    <el-container>
      <el-main>
        <router-view></router-view>
      </el-main>
    </el-container>
  </div>
</template>

<script>
export default {
  name: 'container',
  components: {
  },
  props: {
  },
  data () {
    return {
    }
  },
  computed: {
  },
  watch: {
  },
  created () {
  },
  methods: {
    handleOpen () {
    },
    handleClose () {}
  }
}
</script>

<style scoped>
.el-header{padding:0 !important;background-color:black;}
.header-title{line-height:60px;text-align:center;color:grey;font-size:50px;font-weight:700;padding:0 15px;}
</style>
